@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;600;700&display=swap');

:root {
  --color-red: #ff264a;
  --color-black: #000;
  --color-white: #fff;
  }
  
  * {
margin: 0; 
padding: 0;
box-sizing: border-box;
border: none;
outline: none;
text-decoration: none;
font-family: 'Oswald', sans-serif;
line-height: 1.5;
}

#app {
  display: flex;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

a {
  text-decoration: none;
  color: var(--color-red)
}

li {
  list-style-type:none
}

h1 {
  text-transform: uppercase;
  font-size: 110px;
  font-weight: 700;
  letter-spacing: -0.35vw;
  z-index: 1;
}

h3 {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 400;
}

h4 {
  font-size: 14px;
  font-style: italic;
  font-weight: 600;
  color: var(--color-red)
}

article {
  width: 50vw;
}

aside {
  position: fixed;
  width: 50vw;
  overflow-x: hidden;
  overflow-y: hidden;
  right: 0;
  top: 0;
}

aside::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.35);
}

p {
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.05em;
  line-height: 2;
}

.personal-img {
  width: 62vw;
  height: 100vh;
  object-fit: cover;
}

